{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre-liste">Liste des Modérateurs</h1>

    <table id="moderateurTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Partenaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moderateur in moderateurs %}
            <tr>
                <td><a href="{{ path('moderateur_show', { 'id': moderateur.id }) }}">{{ moderateur.id }}</a></td>
                <td>{{ moderateur.nom }}</td>
                <td>
                    {% for partenaire in moderateur.partenaires %}
                        {{ partenaire.nom }}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('moderateur_show', { 'id': moderateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('moderateur_edit', { 'id': moderateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('moderateur_new') }}">Create a new moderateur</a>
        </li>
    </ul>

    <script>
        $(document).ready(function() {
            $('table#moderateurTable').DataTable(
                {
                    "language":{
                        "url" :"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    }
                }
            );
        } );
    </script>

{% endblock %}
