{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Modérateurs</h1>
    <hr />
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for moderateur in moderateurs %}
            <tr>
                <td><a href="{{ path('moderateur_show', { 'id': moderateur.id }) }}">{{ moderateur.id }}</a></td>
                <td>{{ moderateur.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('moderateur_show', { 'id': moderateur.id }) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a class="btn btn-primary" href="{{ path('moderateur_edit', { 'id': moderateur.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="text-align: center">
        <a class="btn btn-success" href="{{ path('moderateur_new') }}">
            Ajouter un modérateur <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>


{% endblock %}
