{{ form_start(form, {'class': 'form-inline', 'attr' : {'class' : 'form-inline'}}) }}
    {{ form_errors(form) }}
<div class="from-group">
    <div class="row">
        <div class="col col-lg-6">
            <label for="between_date_search">Réception entre :</label>
            <div class="input-group col-md-12">
                {{ form_widget(form.debutRcpt) }}
                <div class="input-group-addon">to</div>
                {{ form_widget(form.finRcpt) }}
            </div>
        </div>
        <div class="col col-lg-6">
            <label for="between_date_search">Traitement entre :</label>
            <div class="input-group col-md-12">
                {{ form_widget(form.debutTrt) }}
                <div class="input-group-addon">to</div>
                {{ form_widget(form.finTrt) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div id="moreSearch" class="row collapse">
        <div class="col-lg-6 col-md-6 col" >
            {{ form_label(form.num_demande) }}
            {{ form_widget(form.num_demande) }}
            {{ form_label(form.cod_etat_demande) }}
            {{ form_widget(form.cod_etat_demande) }}
            {{ form_label(form.code_origine) }}
            {{ form_widget(form.code_origine) }}
            {{ form_label(form.ind_confirm_pro) }}
            {{ form_widget(form.ind_confirm_pro) }}
            {{ form_label(form.num_epj) }}
            {{ form_widget(form.num_epj) }}
            {{ form_label(form.type_jour_reception) }}
            {{ form_widget(form.type_jour_reception) }}
        </div>
        <div class="col-lg-6 col-md-6 col">
            {{ form_label(form.nat_pro) }}
            {{ form_widget(form.nat_pro) }}
            {{ form_label(form.date_reception) }}
            {{ form_widget(form.date_reception) }}
            {{ form_label(form.date_trt) }}
            {{ form_widget(form.date_trt) }}
            {{ form_label(form.moderateur) }}
            {{ form_widget(form.moderateur) }}
            {{ form_label(form.im_label_dd) }}
            {{ form_widget(form.im_label_dd) }}
            {{ form_label(form.type_jour_traitement) }}
            {{ form_widget(form.type_jour_traitement) }}
        </div>
    </div>
    <div class="row justify-content-md-center" style="padding-top: 5px;padding-bottom: 5px;">
        <div style="float: right;padding-right: 15px;">
            {#{{ form_widget(form.recherche) }}#}
            <button type="submit" id="between_date_search_recherche" name="between_date_search[recherche]" class="btn btn-primary">
                 <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher
            </button>
            <button id="searchBtn" type="button" data-toggle="collapse" data-target="#moreSearch" class="btn btn-secondary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            language: "fr"
        });
    });
    $('#searchBtn').click(function(){
        $('#searchBtn span').toggleClass("glyphicon-plus");
        $('#searchBtn span').toggleClass("glyphicon-minus");
    })
</script>